<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
  <% include ../partials/nav %>

  <%= message %>
  <div class="jumbotron">
    <h1>Create Customer</h1>
    <p>Add a customer to you list</p>
    <% include ../partials/notification %>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form action="/create" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="customerName">Customer Name</label>
            <input type="text" class="form-control" name="name" id="customerName" placeholder="Enter name" />
            <small id="customerHelp" class="form-text text-muted">The name of your valued customer</small>
          </div>
          <div class="form-group">
            <label for="customerAddress">Customer Address</label>
            <textarea class="form-control" name="address" id="customerAddress"></textarea>
            <small id="customerHelp" class="form-text text-muted">The address of your valued customer</small>
          </div>
          <div class="form-group">
            <label for="customerImg">Customer Image</label>
            <input type="file" class="form-control" name="cusimage" id="customerImg" />
            <small id="customerImgHelp" class="form-text text-muted">The image of your valued customer</small>
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>

  <% include ../partials/footer %>

  </body>
</html>
